<header>
  <a id='go-back-home' href='<%- url_for() %>'><img src='/images/logo.png' alt='Home' width='60' height='60'></a>
  <p><%= theme.title %></p>
  <p><span style="font-size:12px;"><%= theme.description %></span></p>
</header>
